/* Updated CSS */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F7FA;
}

.tab-container {
  background-color: #333; /* Darker background */
  display: flex; /* Display buttons horizontally */
  justify-content: space-around; /* Evenly space the buttons */
  align-items: center; /* Center the text vertically */
}

.tablinks {
  color: #fff; /* White text color */
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  cursor: pointer;
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.tablinks:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Add hover effect */
}

.split {
  display: flex;
}

.split-item {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: row; /* Align buttons horizontally */
  justify-content: center; /* Center buttons horizontally */
  margin-top: 20px; /* Add margin between video and buttons */
}

#button-container button {
  margin: 0 10px; /* Add space around buttons */
  padding: 10px 20px; /* Add padding to buttons */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Set font family */
  font-size: 16px; /* Set font size */
  color: #fff; /* Text color */
  background-color: #333; /* Match the color of the top bar */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#button-container button:hover {
  background-color: #555; /* Darken the color on hover */
}

#button-container button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

#avatar-2d img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

#avatar-2d img:hover {
  transform: scale(1.1);
}

/* Popup styles */
.popup-container {
  display: none; /* Hide popup by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 999; /* Ensure popup appears above other content */
}

.popup-content {
  text-align: left;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 9999;
}

.invisible {
  display: none;
}
