.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-desktop1 {
  gap: 10px;
  width: 100%;
  height: 1003px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(245, 247, 250, 1);
}
.home-home {
  gap: 27.8427791595459px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero-section {
  gap: 72.39122772216797px;
  display: flex;
  padding: 66.82266998291016px 100.2340087890625px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--dl-color-neutral-silver);
}
.home-frame1 {
  gap: 22.27422332763672px;
  width: 457.317626953125px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text {
  gap: 11.13711166381836px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text01 {
  color: rgb(77, 77, 77);
  height: auto;
  font-size: 44.5484px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 52.9013px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text02 {
  color: var(--dl-color-neutral-dgrey);
}
.home-text04 {
  color: #96efff;
}
.home-illustration {
  width: 272.1631774902344px;
  height: 283.3002624511719px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-image21 {
  top: 64.17724609375px;
  left: 0.05712890625px;
  width: 256px;
  height: 256px;
  position: absolute;
}
.home-community {
  gap: 11.13711166381836px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-community1 {
  gap: 5.56855583190918px;
  width: 1002.3400268554688px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text05 {
  color: var(--dl-color-neutral-dgrey);
  width: 377px;
  height: auto;
  font-size: 25.058502197265625px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 30.627056121826172px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text07 {
  color: var(--dl-color-neutral-grey);
  height: auto;
  font-size: 11.13711166381836px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 16.70566749572754px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame4 {
  gap: 18.097806930541992px;
  width: 1002.3400268554688px;
  display: flex;
  padding: 0 100.2340087890625px;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-membership-organizatios {
  gap: 5.56855583190918px;
  width: 208.12477111816406px;
  display: flex;
  padding: 16.70566749572754px 22.27422332763672px;
  box-shadow: 0px 1.392138957977295px 2.78427791595459px 0px rgba(171, 190, 209, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5.56855583190918px;
  flex-direction: column;
  background-color: var(--dl-color-neutral-white);
}
.home-member {
  gap: 11.13711166381836px;
  width: 185.85055541992188px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-icon {
  width: 45.24452209472656px;
  height: 38.979888916015625px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.home-icon1 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.home-rectangle157 {
  right: 5px;
  width: 35px;
  bottom: 3px;
  height: 34px;
  position: absolute;
  border-radius: 12.529251098632812px 3.4803473949432373px 6.960694789886475px;
}
.home-text09 {
  color: var(--dl-color-neutral-dgrey);
  height: auto;
  font-size: 19.489944458007812px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 25.058502197265625px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame3 {
  gap: 5.56855583190918px;
  display: flex;
  align-items: flex-start;
}
.home-text13 {
  color: var(--dl-color-neutral-grey);
  width: 175px;
  height: auto;
  font-size: 9.744972229003906px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 13.92138957977295px;
  font-stretch: normal;
  text-decoration: none;
}
.home-national-associations {
  gap: 5.56855583190918px;
  width: 208.12477111816406px;
  display: flex;
  padding: 16.70566749572754px 22.27422332763672px;
  box-shadow: 0px 1.392138957977295px 2.78427791595459px 0px rgba(171, 190, 209, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5.56855583190918px;
  flex-direction: column;
  background-color: var(--dl-color-neutral-white);
}
.home-member1 {
  gap: 11.13711166381836px;
  width: 185.85055541992188px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-icon2 {
  width: 45.24452209472656px;
  height: 38.979888916015625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-rectangle1571 {
  right: 1px;
  width: 35px;
  bottom: 0px;
  height: 34px;
  position: absolute;
  border-radius: 12.529251098632812px 3.4803473949432373px 6.960694789886475px;
}
.home-icon3 {
  top: 4.800537109375px;
  left: 0.4522705078125px;
  width: 33px;
  height: 33.41133499145508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-image22 {
  top: 0.800537109375px;
  left: 3.4522705078125px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.home-text15 {
  color: var(--dl-color-neutral-dgrey);
  height: auto;
  font-size: 19.489944458007812px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 25.058502197265625px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame31 {
  gap: 5.56855583190918px;
  display: flex;
  align-items: flex-start;
}
.home-text17 {
  color: var(--dl-color-neutral-grey);
  width: 167px;
  height: auto;
  font-size: 9.744972229003906px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 13.92138957977295px;
  font-stretch: normal;
  text-decoration: none;
}
.home-national-associations1 {
  gap: 5.56855583190918px;
  width: 208.12477111816406px;
  display: flex;
  padding: 16.70566749572754px 22.27422332763672px;
  box-shadow: 0px 1.392138957977295px 2.78427791595459px 0px rgba(171, 190, 209, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5.56855583190918px;
  flex-direction: column;
  background-color: var(--dl-color-neutral-white);
}
.home-member2 {
  gap: 11.13711166381836px;
  width: 185.85055541992188px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-icon4 {
  width: 45.24452209472656px;
  height: 38.979888916015625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-rectangle1572 {
  right: -1px;
  width: 35px;
  bottom: -7px;
  height: 34px;
  position: absolute;
  border-radius: 12.529251098632812px 3.4803473949432373px 6.960694789886475px;
}
.home-icon5 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33.41133499145508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-group2 {
  top: 6.2646260261535645px;
  left: 5.546407222747803px;
  width: 22.533430099487305px;
  height: 20.882125854492188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-vector {
  top: 11.864788055419922px;
  left: 6.405779838562012px;
  width: 9px;
  height: 12px;
  position: absolute;
}
.home-vector1 {
  top: 20.882104873657227px;
  left: 0.000020363648218335584px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.home-vector2 {
  top: 20.881786346435547px;
  left: 11.853848457336426px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.home-text19 {
  color: var(--dl-color-neutral-dgrey);
  width: 161px;
  height: auto;
  font-size: 19.489944458007812px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 25.058502197265625px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame32 {
  gap: 5.56855583190918px;
  display: flex;
  align-items: flex-start;
}
.home-text21 {
  color: var(--dl-color-neutral-grey);
  width: 175px;
  height: auto;
  font-size: 9.744972229003906px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 13.92138957977295px;
  font-stretch: normal;
  text-decoration: none;
}
